@font-face {
  font-family: "Lato";
  src: url("FuenteLato/Lato-Regular.ttf") format("truetype");
}

body {
  font-family: "Lato", sans-serif;
  background-color: #008e5a;
}
.btn-outline-light {
  --bs-btn-font-weight: 600;
  --bs-btn-bg: #008e5a; /* Fondo verde */
  --bs-btn-color: #ffffff; /* Letra blanca */
  --bs-btn-border-color: #ffffff; /* Contorno blanco */
  --bs-btn-border-width: 3px; /* Grosor del contorno */
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-17%, -140%);
}

.btn-outline-light:hover {
  background-color: #ffffff; /* Fondo blanco al pasar el mouse */
  border-color: #008e5a; /* Contorno verde al pasar el mouse */
  color: #008e5a; /* Letra verde al pasar el mouse */
}

.btn.btn-outline-light:active {
  background-color: #008e5a; /* Fondo blanco al hacer clic */
  border-color: #ffffff; /* Contorno verde al hacer clic */
  color: #ffffff; /* Letra verde al hacer clic */
}
.center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 40px;
  border-radius: 7px;
}

/* Color del texto ingresado */
.form-control {
  color: #303030; /* Color negro */
  border: none; /* Eliminar borde */
  border-radius: 0; /* Eliminar bordes redondeados */
  border-bottom: 3px solid #008e5a; /* Agregar una línea inferior */
}
.input-group-text {
  border: none; /* Eliminar contorno del icono */
  background-color: #ffffff;
}
.green-icon {
  color: #008e5a; /* Color verde */
}
img.logo {
  display: block;
  margin: -40px auto;
}

/* SIFCAO */
a{
  
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #e92323;
  font-weight: 500;
  padding: 10px, 20px;
  border-radius: 10px;
  color: #ffffff;
  transition: all 0.3s ease;
  transform: translateX(50%);
}
a:hover{
  background-color: #008e5a;
}
.header{
  position: relative;
  background-color: #ffffff;
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header nav ul{
  display: flex;
  gap: 10px;
  list-style: none;
}
.header nav a i{
  font-size: 14px;
  margin-left: 6px;
}
.submenu{
  font-family: "Lato", sans-serif;
  position: absolute;
  top: 100%;
  background-color: #008e5a;
  color: #ffffff;
  border-radius: 10px;
  max-height: 0;
  transition: max-height 2s ease;
  overflow: hidden;
}
.submenu.show{
  max-height: 100px;
}
.submenu ul{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
}
.submenu ul li{
  position: relative;
  display: block;
  width: 100%;
}
.submenu ul li a{
  width: 100%;
}
