@font-face {
  font-family: "Lato";
  src: url("../../fonts/FuenteLato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LatoBold";
  src: url("../../fonts/FuenteLato/Lato-Bold.ttf") format("truetype");
}

body {
  font-family: "Lato", sans-serif;
}
.fondBlanco {
  background-color: white;
  height: 9rem;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 500;
}

/*barra superior negra*/
.bottom-rectangle-materiales {
  background-color: #303030;
  display: flex;
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 5px 0 5px 30px;
  top: 80px; /* La altura del rectángulo superior */
  left: 0;
  z-index: 10; /* Asegura que el rectángulo esté detrás de los botones */
}

/* Estilos para el titulo materiales */
.text-materiales {
  font-family: "LatoBold", sans-serif;
  color: #ffffff;
  font-size: 140%;
  transform: translate(2px, 10px);
}

/* Estilos para el buscador */
.label-container-materiales {
  position: fixed;
  top: 170px; /* Espacio desde arriba */
  left: 50%; /* Centrado horizontal */
  transform: translateX(-50%); /* Centrado horizontal */
  width: 70vw; /* Ancho del label */
  background-color: #ffffff; /* Fondo blanco */
  border: 3px solid #008e5a; /* Contorno de 3px color verde */
  border-radius: 5px; /* Bordes redondeados */
  display: block; /* Para alinear el icono */
}
.label-container-materiales input[type="text"] {
  width: calc(100% - 40px); /* Ancho del input menos el espacio del icono */
  border: none; /* Elimina el borde del input */
  outline: none; /* Elimina el borde de enfoque */
  padding: 3px; /* Espacio interno */
  color: #303030; /* Color del texto */
  font-size: 20px; /* Tamaño del texto */
}
.label-container-materiales input[type="text"]::placeholder {
  color: #858585; /* Color del texto del placeholder */
  font-size: 20px; /* Tamaño del texto del placeholder */
}
.icon-materiales {
  color: #008e5a; /* Color verde */
}

/* Estilos para el botón "Agregar material" */
.btn-agregar-material {
  font-family: "LatoBold", sans-serif; /* tipografia */
  --bs-btn-padding-y: 0.3rem;
  --bs-btn-padding-x: 10px; /* largo del boton */
  --bs-btn-font-size: 1.2rem; /* tamaño de la letra */
  background-color: #ffffff; /* Fondo blanco */
  color: #303030; /* Letra blanca */
  border: 3px solid #ffffff; /* Contorno verde */
  border-radius: 5; /* Sin bordes redondeados */
  transition: all 0.3s ease; /* Transición suave */
  transform: translate(20px); /* posicion del boton */
}

.btn-agregar-material:hover {
  background-color: #ffffffa2; /* Fondo blanco al pasar el mouse */
  border-color: #ffffffa2; /* Contorno verde al pasar el mouse */
  color: #303030; /* Letra verde al pasar el mouse */
}

.btn-agregar-material:active {
  background-color: #ffffffa2; /* Fondo blanco al hacer clic */
  border-color: #ffffffa2; /* Contorno verde al pasar el mouse */
  color: #ffffff; /* Letra verde al hacer clic */
}

/*estilos para el modal agregar material*/
.modal-materiales {
  z-index: 5000;
  font-family: "LatoBold", sans-serif;
}

.btnclose-materiales{
  background-color: #ffffff;
  color: #008e5a;
  border: none;
  font-size: 30px;
}

/* Estilos para el botón Guardar del modal */
.modal-footer-materiales .btn-primary {
  background-color: #008e5a; /* Color verde */
  border-color: #008e5a; /* Color del borde */
  color: #ffffff;
}

.modal-footer-materiales{
  border: none;
}

.modal-footer-materiales .btn-primary:active {
  background-color: #008e5a; /* Color verde al hacer clic */
  border-color: #008e5a; /* Color del borde al hacer clic */
  color: #000000; /* Color negro al hacer clic */
}
.modal-body-materiales input[type="text"] {
  font-family: "Lato", sans-serif;
}

.form-select-materiales{
  background-color: #ffffff;
  color:#303030;
}

.contTabla-materiales {
  width: calc(100% - 6rem);
  margin-top: 10rem;
  position: absolute;
  margin-left: 3rem;
  margin-right: 3rem;
  left: 0;
  @media (max-width: 700px) {
    margin-left: 0rem;
    margin-right: 0rem;
    width: calc(100%);
  }
}
/* Estilos personalizados para la tabla */
.tabla-container-materiales {
  text-align: center;
  margin-bottom: 100px;
  /* Altura máxima del contenedor */
  overflow-y: auto; /* Scroll vertical cuando sea necesario */ /* Posición relativa para el contenedor */
  /* Centrado horizontal */
  border-top: #008e5a solid 3px;
  border-top-width: 0px;
  margin-top: 0px;
}

#tabla-materiales {
  width: 100%;
}

#tabla-materiales th,
#tabla-materiales td {
  border: 3px solid #008e5a; /* Líneas divisorias de 3px de grosor en color verde */
  padding: 8px;
  text-align: left;
}

#tabla-materiales th {
  background-color: #008e5a; /* Encabezados con fondo verde */
  color: white; /* Letras blancas en los encabezados */
}

#tabla-materiales tbody td {
  color: #303030; /* Texto de las filas en color #303030 */
}

.fila-materiales:hover {
  background-color: #008e5a53; /* Líneas divisorias de 3px de grosor en color verde */
}

.valores-materiales {
  justify-content: space-around;
  align-items: center;
  display: none;
}
.fila:hover {
  background-color: #008e5a53; /* Líneas divisorias de 3px de grosor en color verde */
}

.valores {
  display: none;
}

.fila:hover .valores {
  display: flex;
}

.imaCuadro {
  
  color: #008e5a;
  background-color: #008e5a;
  width: 10rem;
  height: 5rem;
  display: none;
  top: auto;
  transform: translateX(-40rem);
  clip-path: polygon(
    
    0% 0%,
    93% 0,
    93% 39%,
    100% 52%,
    93% 63%,
    93% 100%,
    0 100%
  );

  .imagenPreview{
    background-color: #008e5a;
    border: #008e5a solid .2rem;
    height:100%; 
    width:93%;
  }

  position: absolute;
  @media (max-width: 700px) {
    transform: translate(-25rem, 5%);
    width: 10rem;
    height: 5rem;
    left: 95%;
  }
  @media (min-width: 700px) {
    transform: translate(-25rem, 5%);
    width: 15rem;
    height: 7.5rem;
    left: 95%;
  }
  @media (min-width: 1192px) {
    transform: translate(-15rem, 5%);
    width: 20rem;
    height: 10rem;
    left: 83%;
  }
}

.pagRegistrosmateriales {
  font-family: "LatoBold", sans-serif;
  display: flex;
  align-items: center;
  padding-left: 0rem;
}

.cantregistrosmateriales{
  
  font-family: "LatoBold", sans-serif;
  color: #008e5a;
  border: 3px solid #008e5a;
  
}

.cantregmateriales{
  height: 40px;
}

.active{
  background-color: #008e5a;
}

.px-4-estatus{
  background-color: #ffffff;
}

.toggle-estatus-materiales{
  display: flex;
  justify-content: end;
  margin-left: 890px;
}