@font-face {
  font-family: "Lato";
  src: url("../../fonts/FuenteLato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LatoBold";
  src: url("../../fonts/FuenteLato/Lato-Bold.ttf") format("truetype");
}

body {
  font-family: "Lato", sans-serif;
}
.fondBlancoconceptos {
  background-color: white;
  height: 10.5rem;
  width: 100%;
  position: fixed;
  z-index: 500;
  margin-top: 5rem;
  @media (max-width: 1090px) {
    position: static;
    margin-top: 0;
    padding-top: 5rem;
  }
}

/*barra superior negra*/
.bottom-rectangle-conceptos {
  background-color: #303030;
  display: flex;
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 5px 10px 5px 10px;
  top: 80px; /* La altura del rectángulo superior */
  z-index: 1; /* Asegura que el rectángulo esté detrás de los botones */
  @media (max-width: 1090px) {
    position: static;
  }
}

/* Estilos para el titulo conceptos */
.text-conceptos {
  font-family: "LatoBold", sans-serif;
  color: #ffffff;
  font-size: 140%;
  transform: translate(2px, 10px);
}

/* Estilos para el titulo volver a inicio */
.text-inicio-conceptos {
  text-decoration: none;
  position: static;
  font-family: "LatoBold", sans-serif;
  color: #ffffff;
  font-size: 140%;
  padding: 10px 2px;
  z-index: 5000;
  margin-left: auto;
}

.text-inicio-conceptos:hover {
  color: #ffffff;
}

/* Estilos para el buscador */
.label-container-conceptos {
  margin: 7rem auto 0 auto;
  width: 70vw; /* Ancho del label */
  background-color: #ffffff; /* Fondo blanco */
  border: 3px solid #008e5a; /* Contorno de 3px color verde */
  border-radius: 5px; /* Bordes redondeados */
  transition: all 0.3s ease;
  @media (max-width: 1090px) {
    margin: 4rem auto 0 auto;
  }
  margin-top: 70px;
}
.label-container-conceptos input[type="text"] {
  width: calc(100% - 40px); /* Ancho del input menos el espacio del icono */
  border: none; /* Elimina el borde del input */
  outline: none; /* Elimina el borde de enfoque */
  padding: 3px; /* Espacio interno */
  color: #303030; /* Color del texto */
  font-size: 20px; /* Tamaño del texto */
}
.label-container-conceptos input[type="text"]::placeholder {
  color: #858585; /* Color del texto del placeholder */
  font-size: 20px; /* Tamaño del texto del placeholder */
}
.icon-conceptos {
  color: #008e5a; /* Color verde */
}

/* Estilos para el botón "Agregar conceptos" */
.btn-agregar-conceptos {
  font-family: "LatoBold", sans-serif; /* tipografia */
  --bs-btn-padding-y: 0.3rem;
  --bs-btn-padding-x: 10px; /* largo del boton */
  --bs-btn-font-size: 1.2rem; /* tamaño de la letra */
  background-color: #ffffff; /* Fondo blanco */
  color: #303030; /* Letra blanca */
  border: 3px solid #ffffff; /* Contorno verde */
  border-radius: 5; /* Sin bordes redondeados */
  transition: all 0.3s ease; /* Transición suave */
  transform: translate(20px); /* posicion del boton */
  margin-right: 1rem;
}

.btn-agregar-conceptos:hover {
  background-color: #303030; /* Fondo blanco al pasar el mouse */
  border-color: #ffffff; /* Contorno verde al pasar el mouse */
  color: #ffffff; /* Letra verde al pasar el mouse */
}

.btn-agregar-conceptos:active {
  --bs-btn-background-color: #ffffff; /* Fondo blanco al hacer clic */
  --bs-btn-border-color: #ffffff; /* Contorno verde al pasar el mouse */
  --bs-btn-color: #303030; /* Letra verde al hacer clic */
}

/*estilos para los botones conceptos y conceptos de basicos*/
.btn-tiposde-conceptos {
  font-family: "LatoBold", sans-serif;
  --bs-btn-font-size: 1.2rem;
  border: 3px solid #008e5a;
  background-color: #ffffff;
  color: #008e5a;
  border-radius: 5;
  transition: all 0.3s ease;
  width: 20rem;
}

.btn-tiposde-conceptos:hover {
  background-color: #008e5a;
  color: #ffffff;
  border-color: #008e5a;
}

.btn-tiposde-conceptos:active {
  --bs-btn-background-color: #ffffff; /* Fondo blanco al hacer clic */
  --bs-btn-border-color: #008e5a; /* Contorno verde al pasar el mouse */
  --bs-btn-color: #008e5a; /* Letra verde al hacer clic */
}

/*estilos para el modal agregar conceptos*/
.modal-conceptos {
  z-index: 5000;
  font-family: "LatoBold", sans-serif;
}

.btnclose-conceptos {
  background-color: #ffffff;
  color: #008e5a;
  border: none;
  font-size: 30px;
}

/* Estilos para el botón Guardar del modal */
.modal-footer-conceptos .btn-primary {
  font-family: "LatoBold", sans-serif; /* tipografia */
  background-color: #008e5a; /* Color verde */
  border-color: 3px solid #008e5a; /* Color del borde */
  color: #ffffff;
  margin: 0;
}

.modal-footer-conceptos {
  border: none;
  padding: 0;
}

.modal-footer-conceptos .btn-primary:active {
  background-color: #008e5a; /* Color verde al hacer clic */
  border-color: #008e5a; /* Color del borde al hacer clic */
  color: #000000; /* Color negro al hacer clic */
}
.modal-body-conceptos input[type="text"] {
  font-family: "Lato", sans-serif;
}

.form-select-conceptos {
  background-color: #ffffff;
  color: #303030;
}

.contTabla-conceptos {
  width: calc(100% - 0.2rem);
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  padding-top: 12rem;
  @media (min-width: 393px) {
    padding-top: 8rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    width: calc(100% - 0.2rem);
  }
  @media (min-width: 508px) {
    padding-top: 7rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    width: calc(100% - 0.2rem);
  }
  @media (min-width: 1090px) {
    padding-top: 265px;
    margin-left: 2rem;
    margin-right: 2rem;
    width: calc(100% - 4rem);
  }
}
/* Estilos personalizados para la tabla */
.tabla-container-conceptos {
  text-align: center;
  margin-bottom: 100px;
  /* Altura máxima del contenedor */
  /* Scroll vertical cuando sea necesario */ /* Posición relativa para el contenedor */
  /* Centrado horizontal */
  border-top: #008e5a solid 3px;
  border-top-width: 0px;
  margin-top: 0px;

  /*position: relative;*/
  /*height: calc(400px);  Ajusta esta altura según tus necesidades */
  overflow-y: auto;
}

#tabla-conceptos {
  width: 100%;
  border-collapse: collapse;
}
thead,
th {
  position: -webkit-sticky; /* Para Safari */
  position: sticky;
  top: 0;
  background-color: #fff; /* Fondo para el encabezado */
  z-index: 10; /* Asegura que el encabezado esté por encima del contenido */
}
#tabla-conceptos th,
#tabla-conceptos td {
  border: 3px solid #008e5a; /* Líneas divisorias de 3px de grosor en color verde */
  padding: 8px;
  text-align: left;
}

#tabla-conceptos th {
  background-color: #008e5a; /* Encabezados con fondo verde */
  color: white; /* Letras blancas en los encabezados */
}

#tabla-conceptos tbody td {
  color: #303030; /* Texto de las filas en color #303030 */
}

.fila-conceptos:hover {
  background-color: #008e5a53; /* Líneas divisorias de 3px de grosor en color verde */
}

.valores-conceptos {
  justify-content: space-around;
  align-items: center;
  display: none;
}
.fila:hover {
  background-color: #008e5a53; /* Líneas divisorias de 3px de grosor en color verde */
}

.valores {
  display: none;
}

.fila:hover .valores {
  display: flex;
}

.pagRegistrosconceptos {
  font-family: "LatoBold", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
  align-items: center;
  margin-top: 0.2rem;
  width: 100%;
}
.pagination {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cantregconceptos {
  margin-top: 1.2rem;
  display: flex;
  align-items: start;
}
.cantregistrosconceptos {
  font-family: "LatoBold", sans-serif;
  color: #008e5a;
  border: 3px solid #008e5a;
}
.pSeccion {
  display: flex;
  flex-wrap: wrap;
}
.text1 {
  color: #008e5a;
  font-family: "LatoBold", sans-serif;
  padding-right: 10px;
}
.text2 {
  color: #008e5a;
  font-family: "LatoBold", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.active {
  background-color: #008e5a;
}

.toggle-estatus-conceptos {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.inputLleno {
  border: 3px solid #008e5a;
}
.inputVacio {
  border: 3px solid red;
}
.inputVacio::placeholder {
  color: red;
}
.inputVacio:focus {
  border: 3px solid red;
}

.sort-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: #008e5a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-family: "LatoBold", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Iconos dentro del botón */
.sort-button i {
  margin-left: 8px;
  transition: transform 0.3s ease;
}

/* Efecto hover */
.sort-button:hover {
  background-color: #008e5a;
}

/* Efecto para cuando el botón está activo (ascendente o descendente) */
.sort-button.active i {
  transform: rotate(180deg); /* Rota el icono */
}

.esconderBoton {
  display: none;
}

/* Botón deshabilitado */
.sort-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Ocultamos el checkbox original */
.custom-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Estilos del diseño del checkbox */
.checkbox-design {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 4px; /* Bordes redondeados */
  transition: background-color 0.3s ease;
  cursor: pointer;
  position: relative;
}

/* Cambiamos el color del checkbox cuando está marcado */
.custom-checkbox:checked + .checkbox-design {
  background-color: #008e5a; /* Color cuando está marcado */
}

/* Dibujamos la palomita */
.checkbox-design:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox:checked + .checkbox-design:after {
  display: block;
}

/* Definimos la palomita (check) */
.checkbox-design:after {
  left: 7px;
  top: 4px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
/*
*
*
*
*
*/
.sugerencias-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  position: absolute;
  width: 95%;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin-top: 5px;
  transition: opacity 0.2s ease-in-out; /* Animación suave */
  opacity: 0; /* Para la animación de aparición */
  visibility: hidden;
}

.sugerencias-box.activado {
  opacity: 1; /* Hacer visible cuando hay sugerencias */
  visibility: visible;
}

.sugerencia-item {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  transition: background-color 0.2s ease-in-out; /* Animación suave al pasar sobre una opción */
}

.sugerencia-item:hover {
  background-color: #f0f0f0;
  color: #000;
}

.sugerencia-item:active {
  background-color: #e0e0e0;
  color: #000;
}

.sugerencias-box::-webkit-scrollbar {
  width: 8px;
}

.sugerencias-box::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sugerencias-box::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.sugerencias-box::-webkit-scrollbar-thumb:hover {
  background: #555;
}
